@import '../../common';

.filter-text{
  display: inline-block;
  float: left;
  height: 100%;
  margin-left: 40px;
  position:relative;
  input{
    height:30px;
    padding-left:40px;
    margin-top:10px;
    font-size:16px;
  }
  i{
    position: absolute;
    left: 10px;
    top: 19px;
  }
}
.filter-icon{
  display: inline-block;
  float: right;
  height: 100%;
  margin:13px 20px;
  i{
    margin:0 10px;
  }
  .selected{
    color:$add-color;
  }
}

@media (min-width: 767px){

}
@media (min-width: 768px){

}

@media (min-width: 1023px){

}