@import '../../common';

.card{
  height:144px;
  color:white;
  display:inline-block;
  float:left;
  position:relative;
  width:30%;
  margin-right:5%;
  .card-status{
    position:absolute;
    top:10px;
    left:20px;
    font-weight:bold;
  }
  .card-icon{
    font-size:144px;
    opacity:0.2;
  }
  .card-num{
    position:absolute;
    bottom:15px;
    right:20px;
  }
}
.card1{
  height:144px;
  color:black;
  display:inline-block;
  float:left;
  position:relative;
  background:white;
}
.type1{
  background-color:$building-color;
}
.type2{
  background-color:$idle-color;
}


@media (min-width: 1200px){

}
@media (max-width: 1119px){

}
@media (max-width: 1023px){

}
@media (max-width: 767px){
  .card{
    width:calc(50% - 5px);
    height:90px;
    margin-right: 10px;
    .card-icon{
      font-size:90px;
    }
    .card-num{
      bottom:0;
    }
  }
  .type2{
    margin-right:0!important;
  }
}
