@import '../../common';


.tab-item{
  span{
    display:inline-block;
    padding:0 10px;
    float:left;
    line-height:50px;
    width:80px;
    border-right:1px solid #efefef;
  }
  .selected{
    color:$add-color;
    border-bottom:3px solid $add-color;
  }
}


@media (min-width: 1200px){

}
@media (max-width: 1119px){

}
@media (max-width: 1023px){

}
@media (max-width: 767px){
   .tab-item{
     width:100%;
     span{
       width:33%;
       float:left;
       padding:0;
     }
   }

}
