@import '../../common';

.history{
  bottom:0;
  width:100%;
  margin-top:100px;
  li{
    color:#999;
    padding:5px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 10%;
    width:80%;
    &:hover{
      color: #09b4cf;
    }
  }
  span{
    color:#ccc;
    text-align: left;
    float:left;
    width:100%;

    margin-bottom:15px;
    margin-left:20px;
  }
}

@media (min-width: 1200px){
  .history {
    margin-top: 180px;
  }
}
@media (max-width: 1119px){
  .history{
    margin-top:100px;
  }
}
@media (max-width: 1023px){

}
@media (max-width: 767px){

}